.hub main > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 5vw;
    gap: 5vh 5vw;
}

.hub main iconify-icon {
    font-size: 4em;
}

.hub nav {
    display: none;
}

.hub main button {
    border-bottom-style: solid;
    margin-bottom: 1vh;
}