@font-face {
    font-family: "Saudagar";
    src: url('./fonts/saudagar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    color: #2f4534;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Saudagar", "Open Sans", Arial, Helvetica, sans-serif;
}

.light {
    color: #6a7a6a;
    font-weight: 300;
}

.contrast {
    color: #dfb691;
    font-weight: 500;
}