/* global low-specificity styles */

* {
    margin: 0;
    color: inherit;
    text-decoration-color: inherit;
    background-color: inherit;
    border-color: inherit;
    border-style: hidden;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
}

@font-face {
    font-family: "Saudagar";
    src: url('./saudagar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Saudagar", "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    overflow: auto;
}

iconify-icon {
    vertical-align: -0.125em;
    height: 1em;
    width: 1em;
}

button:enabled:hover {
    cursor: pointer;
}

/* Light Theme (default) */

body,
body.light {
    color: #dfb691;
    background-color: #2f4534; 
}

body main,
body.light main {
    color: #6a7a6a;
    background-color: #ffffff;
}

body *:disabled,
body.light *:disabled {
    color: #f3e7dc;
}

body main *:disabled,
body.light main *:disabled {
    color: #dde7dd;
}

body button:enabled:hover,
body.light button:enabled:hover {
    color: #ffffff;
}

body main button:enabled:hover,
body.light main button:enabled:hover {
    background-color: #6a7a6a;
}

body .hint,
body.light .hint {
    text-decoration-color: #4a8b8b;
    border-color: #4a8b8b;
}
body .warn,
body.light .warn {
    text-decoration-color: #d95c5c;
    border-color: #d95c5c;
}

/* Dark Theme (WIP) */

body.dark {
    color: #f3e7dc; 
    background-color: #000000;
}

body.dark main {
    color: #c9d3c9;         
    background-color: #222222;
}