.active {
    color: #c9d3c9;
    border-color: #c9d3c9;
}

.warn {
    color: #dfb291;
    border-color: #dfb291;
}

.error {
    color: #d95c5c;
    border-color: #d95c5c;
}

.hidden {
    display: none !important;
}