* { /* global styles */
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    align-items: center;
    text-align: justify;
}

@font-face {
    font-family: "Saudagar";
    src: url('./saudagar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Saudagar", "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

a {
    color: inherit;
}

button {
    color: inherit;
    background-color: inherit;
    border-style: hidden;
}

mark {
    background-color: #dfb691;
}

main {
    color: #6a7a6a;
    padding: 1vh 5vw;
}

header, footer {
    display: flex;
    color: #f3e7dc;
    padding: 1vh 2.5vw;
}

header {
    justify-content: space-between;
    background-color: #2f4534;
}

footer {
    justify-content: space-evenly;
    background-color: #6a7a6a;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.error {
    color: #d95c5c;
}