.taskpane {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.taskpane header {
    font-size: 2em;
}

.taskpane .hub div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 5vw;
    gap: 5vh 5vw;
}
.taskpane .hub iconify-icon {
    font-size: 4em;
}