.taskpane * {
    text-align: center;
}

.taskpane header,
.taskpane footer {
    display: block;
    padding: 1vh 2.5vw;
}

.taskpane header nav button {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    transition: border-color 500ms ease;
    font-size: 2em;
}

.taskpane main {
    padding: 1vh 5vw;
}

.taskpane main nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5vh 5vw;
}

.taskpane main nav button {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.taskpane main nav iconify-icon {
    font-size: 4em;
}

.taskpane footer {
    display: flex;
    flex-direction: column;
    padding: 1vh 2.5vw;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.taskpane footer iconify-icon {
    font-size: 1.5em;
}