/* Light Theme (default) */

.light {
    color: #dfb691;
    background-color: #2f4534; 
}

.light main {
    color: #6a7a6a;
    background-color: #ffffff;
}

.light *:disabled {
    color: #f3e7dc;
}

.light main *:disabled {
    color: #dde7dd;
}

.light button:enabled:hover {
    color: #ffffff;
}

.light main button:enabled:hover {
    background-color: #6a7a6a;
    border-color: #6a7a6a;
}

.light .hint {
    text-decoration-color: #4a8b8b;
    border-color: #4a8b8b;
}

.light .warn {
    text-decoration-color: #d95c5c;
    border-color: #d95c5c;
}
